.headerInner {
    margin-left: 70px;
    margin-top: 70px;
    display: flex;
}

.logo {
    width: 130px;
}

.logoText {
    font-size: 25px;
    color: #4da3ff;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
    padding-left: 20px;
}